<!DOCTYPE html>
<html ng-app="myApp" xmlns:margin-left="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Health First</title>
    <!-- Jqueey cdn -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Chartist-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <style>
        .ct-label {
            font-size: 1.5rem;
        }
    </style>

</head>
<body>

<!-- Navigation and Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- Body-->
<div class="container">
    <div class="row" ng-controller="allSpecPatient">
        <div class="col-md-6">
            <div class="input-group" style="margin-bottom:10px">
                <label class="label label-primary" style="font-size:15pt">Search</label><input class="form-control"
                                                                                               type="text"
                                                                                               ng-model="search"
                                                                                               placeholder="Patient Name">
            </div>
            <table class="table table-striped table-bordered customtable">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>NHS Number</th>
                    <th>Age</th>
                    <th>Assigned Clinician</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="patient in patientList | filter:search">
                    <td>{{patient.firstname}}</td>
                    <td>{{patient.lastname}}</td>
                    <td>{{patient.nhsnumber}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.gp}}</td>
                    <td>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#infoModal"
                                ng-click="loadPatientInfo(patient._id)">View Info
                        </button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#riskCalculatorModal"
                                ng-click="loadPatientInfo(patient._id)">Risk Calculations
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- View Info Modal-->
            <div id="infoModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!--Modal Content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title ">View Info of Patient (patient name)</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <img src="img/profile-placeholder.jpg" style="float:left">
                                <h3>{{specPatientInfo.nhsnumber}}</h3>
                                <h3>{{specPatientInfo.firstname}}</h3>
                                <h3>{{specPatientInfo.lastname}}</h3>
                                <h3>{{specPatientInfo.age}}</h3>
                            </div>
                            <h2>Medical Information</h2>
                            <label>Cholesterol: </label>
                            <h3>{{specPatientInfo.cholesterol}}</h3>
                            <label>Blood Pressure(Diastolic): </label>
                            <h3>{{specPatientInfo.diastolicbp}}</h3>
                            <label>Blood Pressure(Systolic): </label>
                            <h3>{{specPatientInfo.systolicbp}}</h3>
                            <label>Gender: </label>
                            <h3>{{specPatientInfo.gender}}</h3>
                            <label>On Medication: </label>
                            <h3>{{specPatientInfo.medication}}</h3>
                            <label>Smoker: </label>
                            <h3>{{specPatientInfo.smoker}}</h3>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Risk Calculator for individual patient Modal -->
            <div id="riskCalculatorModal" class="modal fade" role=dialog>
                <div class="modal-dialog" style="width:100%; height:200%; padding:0;">
                    <!--Modal Content-->
                    <div class="modal-content" style="border-radius:0">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title ">Risk Calculator for Patient {{specPatientInfo.firstname}}
                                {{specPatientInfo.lastname}}</h4>
                        </div>
                        <!-- Not 100% -->


                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6" style="margin-left:200px; margin-top:50px">
                                    <img src="img/profile-placeholder.jpg" style="float:left">

                                    <h3> {{specPatientInfo.nhsnumber}}</h3>
                                    <h3> {{specPatientInfo.firstname}}</h3>
                                    <h3> {{specPatientInfo.lastname}}</h3>
                                    <h3> {{specPatientInfo.age}}</h3>

                                    <!-- Result shown section -->
                                    <div class="row" style=" margin-top:230px;">
                                        <div class="col-md-6" id="resultContent"
                                             style=" color: red; font-size:20pt;">
                                        </div>
                                    </div>

                                    <div class="col-md-6" style="margin-top:10px">
                                        <div class="container" id="comparativeRisk" style=" width:500px;">
                                        </div>
                                        <!-- Advice section -->
                                        <div class="container customText" id="systemAdvice" style=" width:500px;">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6" style="margin-left:-300px">
                                    <h2>{{specPatientInfo.firstname}}'s Medical Information</h2>
                                    <!-- AGE-->
                                    <div class="input-group">
                                        <span class="input-group-addon" id="patientAgeArea">Age</span>
                                        <input id="patientAge" type="number" maxlength="2" class="form-control"
                                               readonly="readonly" aria-describedby="patientAge"
                                               value={{specPatientInfo.age}}>
                                    </div>

                                    <!-- Diabetic -->
                                    <h2 class="customText">Diabetic: </h2>  <input id="patientDiabetic" type="text"
                                                                                   class="form-control"
                                                                                   readonly="readonly"
                                                                                   value={{specPatientInfo.diabetic}}>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="diabeticCheckBox" id="patientDiabeticYes"> Yes
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="diabeticCheckBox" id="patientDiabeticNo"> No
                                        </label>
                                    </div>

                                    <!-- Smoker -->
                                    <h2 class="customText">Smoker: </h2>  <input id="patientSmoker" type="text"
                                                                                 class="form-control"
                                                                                 readonly="readonly"
                                                                                 value={{specPatientInfo.smoker}}>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="smokerCheckBox" id="patientSmokerYes"> Yes
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="smokerCheckBox" id="patientSmokerNo"> No
                                        </label>
                                    </div>


                                    <!-- LDL_C and Cholesterol-->
                                    <div>
                                        <h2 class="customText">Select either Cholesterol or LDL_C from the dropdown
                                            below</h2>
                                        <select id="clinicianCholesterolChoice" onchange="getChoice(value)">
                                            <!-- getChoice(value) not implemented yet-->
                                            <option value="LDL_C">LDL-C</option>
                                            <option value="Cholesterol">Cholesterol</option>
                                        </select>

                                        <input id="patientCholesterol" type="number" class="form-control"
                                               readonly="readonly"
                                               value={{specPatientInfo.cholesterol}}>

                                        <select id="patientMeasurement" onchange="getMeasurement(value)">
                                            <!-- getMeasurement(value) not implemented yet-->
                                            <option value="mg/dl">mg/dL</option>
                                            <option value="mmol/L">mmol/L</option>
                                        </select>
                                    </div>


                                    <!-- HDL_C-->
                                    <div>
                                        <h2 class="customText">HDL_C</h2>
                                        <input id="patienthdlc" type="number" class="form-control"
                                               readonly="readonly"
                                               value={{specPatientInfo.hdlc}}>
                                        <select id="clinicianHDLChoice" onchange="getChoice(value)">
                                            <!-- getChoice(value) not implemented yet-->
                                            <option value="mg/dl">mg/dL</option>
                                            <option value="mmol/L">mmol/L</option>
                                        </select>
                                    </div>


                                    <!-- DIASTOLIC BLOOD PRESSURE-->
                                    <div class="input-group">
                                            <span class="input-group-addon"
                                                  id="patientdiastolicbpArea">Diastolic BP</span>
                                        <input id="patientdiastolicbp" type="number" class="form-control"
                                               readonly="readonly" aria-describedby="patientdiastolicbp"
                                               value={{specPatientInfo.diastolicbp}}>
                                    </div>

                                    <!-- SYSTOLIC BLOOD PRESSURE-->
                                    <div class="input-group">
                                            <span class="input-group-addon"
                                                  id="patientsystolicbpArea">Systolic BP</span>
                                        <input id="patientsystolicbp" type="number" class="form-control"
                                               readonly="readonly" aria-describedby="patientsystolicbp"
                                               value={{specPatientInfo.systolicbp}}>
                                    </div>


                                    <!-- Gender -->
                                    <h2 class="customText">Gender: </h2>  <input id="patientGender" type="text"
                                                                                 class="form-control"
                                                                                 readonly="readonly"
                                                                                 value={{specPatientInfo.gender}}>

                                    <select id="patientSexChoice" onchange="getPatient(value)">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>


                                    <!-- MEDICATION-->
                                    <div class="input-group">
                                        <span class="input-group-addon" id="patientMedArea">Medication</span>
                                        <input id="patientMedication" type="text" class="form-control"
                                               readonly="readonly" aria-describedby="patientMedArea"
                                               value={{specPatientInfo.medication}}>
                                    </div>


                                    <button class="btn btn-danger" ng-click="saveAllEntry()">
                                        Calculate Risk based on Records
                                    </button>
                                    <button class="btn btn-danger" ng-click="calculateRiskBasedOnEntry()">Calculate
                                        Risk based on Entry
                                    </button>
                                    <button id="saveEntryButton" class="btn btn-success" ng-click="saveAllEntry()"
                                            disabled>Save Entry
                                    </button>
                                </div>
                            </div>


                        </div>


                        <div class="modal-footer">

                            <!-- Chart Section-->

                            <div class="row" style="margin-top:20px">
                                <center>
                                    <button class="btn btn-primary" ng-click="loadGraph()">Load Graph</button>
                                </center>
                                <div class="col-md-6">
                                    <div class="ct-chart ct-perfect-fourth test ct-labels"></div>
                                </div>
                                <div class="col-md-6">
                                    <!-- Input boxes for clinician recommendations-->
                                    <center>
                                        <textarea class="form-group" placeholder="Make recommendations"
                                                  style="width:300px; height:70px;margin-top:50px"
                                                  ng-model="recommendation"></textarea>
                                        <br>
                                        <button class="btn btn-primary" ng-click='Recommendation()'>Recommend</button>


                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Previous Recommendation</th>
                                                <th>Clinician</th>

                                            </tr>

                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="recommendation in specPatientInfo.recommendations">
                                                <td>{{recommendation.recommendation}}</td>
                                                <td>{{specPatientInfo.gp}}</td>
                                            </tr>

                                            </tbody>

                                        </table>
                                    </center>
                                </div>

                            </div>


                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="refresh()">
                                Close
                            </button>
                        </div>
                    </div>

                </div>
            </div>


            <center>

                <button class="btn btn-primary" ng-click="loadSpecPat(search)">Patient Directory</button>


            </center>
        </div>

        <div class="col-md-6">

            <iframe src="http://www.bbc.co.uk/news/health" width="500" height="350" style="margin-top:70px;"></iframe>

        </div>


    </div>


</div>

<!-- Footer-->

<!--Angular CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<!--<script src = "controller/loginController.js"></script> -->


<!-- Chartist-->
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!--<script src = "js/chart.js"></script>-->
<script src="controller/patientLoaderController.js"></script>

</body>
</html>