<!DOCTYPE html>
<html ng-app="myApp" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Health First</title>
    <!-- Jqueey cdn -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Chartist-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <style>
        .ct-label {
            font-size: 1.5rem;
        }
    </style>

</head>
<body class="container-fluid" ng-controller="patientDashboard">

<!-- Main body -->

<div class="row" style="margin-top:50px">
    <div class="col-md-12">
        <center>
            <div class="input-group" style="margin-bottom:10px">
                <label class="label label-success" style="font-size:15pt">Search</label><input class="form-control"
                                                                                               type="text"
                                                                                               ng-model="search"
                                                                                               placeholder="Patient nhsnumber">

            </div>
            <button class="btn btn-primary" ng-click="SearchPatient(search)">Search</button>

        </center>
    </div>
</div>

<!-- Patient Info section -->
<div class="row">
    <div class="col-md-6">
        <div style="text-align: right">
            <h1>Personal Information</h1>
            <img src="img/profile-placeholder.jpg" style="float:left">

            <h3 class="customText">Nhs Number : {{patientInfo.nhsnumber}}</h3>
            <h3 class="customText">First Name : {{patientInfo.firstname}}</h3>
            <h3 class="customText">Last Name : {{patientInfo.lastname}}</h3>
            <h3 class="customText">Age : {{patientInfo.age}}</h3>
            <h3 class="customText">Gender : {{patientInfo.gender}}</h3>
        </div>
    </div>

    <div class="col-md-6">
        <h1>Medical Information</h1>
        <h3 class="customText">Assigned Clinician : <a href="#appointmentModal" data-toggle="modal"
                                                       data-target="#appointmentModal"
                                                       ng-click="BookAppointment(patientInfo.gp)">{{patientInfo.gp}}</a>
        </h3>
        <h3 class="customText">Cholesterol : {{patientInfo.cholesterol}}</h3>
        <h3 class="customText">Diastolic Blood Pressure : {{patientInfo.diastolicbp}}</h3>
        <h3 class="customText">Systolic Blood Pressure : {{patientInfo.systolicbp}}</h3>
        <h3 class="customText">Smoker : {{patientInfo.smoker}}</h3>
        <h3 class="customText">Medication : {{patientInfo.medication}}</h3>

    </div>
</div>

<div class="row" style="margin-top:50px">
    <div class="col-md-6">
        <!-- Information on Latest CVD calculation -->
        <center><h3>CVD Risk Result Table</h3></center>
        <table class="table table-bordered customtable" style="margin-top:50px; width:1000px; height:700px">
            <thead>
            <th style="width:300px; text-align: center">Time</th>
            <th style="width:300px; text-align: center">CVD Point</th>
            <th style="width:300px; text-align: center">CVD Point %</th>

            </thead>

            <tbody>
            <tr ng-repeat="calculatedrisk in patientInfo.riskstoreddata">
                <td style="width:300px; text-align: center">{{calculatedrisk.currentFullTime}}</td>
                <td style="width:300px; text-align: center">{{calculatedrisk.calculatedrisk}}</td>
                <td style="width:300px; text-align: center">{{calculatedrisk.calculatedPercentage}}</td>


            </tr>
            </tbody>

        </table>
    </div>

    <div class="col-md-6">
        <!-- graph-->
        <center><h3>CVD Risk Result Graph</h3></center>
        <center>
            <button class="btn btn-primary" ng-click="loadGraphPatientDashBoard()">Load Graph</button>
        </center>
        <div class="ct-chart ct-perfect-fourth test ct-labels"></div>
    </div>

</div>


<div class="row" style="margin-bottom:100px; margin-top:50px">
    <center>
        <button class="btn btn-success" data-toggle="modal" data-target="#editInfoModal">Edit Personal Information
        </button>
        <button class="btn btn-success" data-toggle="modal" data-target="#calculatorInfoModal">Use CVD Calculator
        </button>
        <button class="btn btn-success" data-toggle="modal" data-target="#recommendationModal">View Recommendations
        </button>
        <button class="btn btn-success" data-toggle="modal" data-target="#appointmentModal"
                ng-click="BookAppointment(patientInfo.gp)">Book Appointment
        </button>
    </center>


</div>

<!-- Patient Info Modal -->
<div id="editInfoModal" class="modal fade" role="dialog" ng-controller="allSpecPatient">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Edit Personal Information</h3>
            </div>
            <div class="modal-body">
                <div class="row">

                    <!-- First Name-->
                    <div class="input-group">
                        <span class="input-group-addon" id="patientFirstNameArea">First Name</span>
                        <input id="patientEntryFirstName" type="text" class="form-control"
                               aria-describedby="patientFirstNameArea"
                               value={{patientInfo.firstname}}>
                    </div>

                    <!-- Last Name-->
                    <div class="input-group">
                        <span class="input-group-addon" id="patientLastNameArea">Last Name</span>
                        <input id="patientEntryLastName" type="text" class="form-control"
                               aria-describedby="patientLastNameArea"
                               value={{patientInfo.lastname}}>
                    </div>

                    <!-- Age-->
                    <div class="input-group">
                        <span class="input-group-addon">Age</span>
                        <input id="patientEntryAge" type="text" class="form-control"
                               aria-describedby="patientAgeArea"
                               value={{patientInfo.age}}>
                    </div>

                    <!-- Address-->
                    <div class="input-group">
                        <span class="input-group-addon" id="patientAddressArea">Address</span>
                        <input id="patientEntryAddress" type="text" class="form-control"
                               aria-describedby="patientAgeArea"
                               value={{patientInfo.address}}>
                    </div>

                    <!-- Phone Number-->
                    <div class="input-group">
                        <span class="input-group-addon" id="patientPhoneArea">Phone Number</span>
                        <input id="patientEntryPhoneNumber" type="text" class="form-control"
                               aria-describedby="patientPhoneArea"
                               value={{patientInfo.phonenumber}}>
                    </div>

                    <!-- Email-->
                    <div class="input-group">
                        <span class="input-group-addon" id="patientEmailArea">Email</span>
                        <input id="patientEntryEmail" type="text" class="form-control"
                               aria-describedby="patientEmailArea"
                               value={{patientInfo.email}}>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="SavePatientInformation()">Save Info</button>
                <!-- Should refresh the main page -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>


<!-- Calculator Info Modal -->
<div id="calculatorInfoModal" class="modal fade" role="dialog" ng-controller="allSpecPatient">
    <div class="modal-dialog" style="width:100%; height:100%; padding:0;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Cardiovascular Risk Calculator</h3>

            </div>
            <div class="modal-body">
                <div class="input-group">

                    <div class="row">
                        <div class="col-md-6" style="margin-left:200px; margin-top:50px">
                            <img src="img/profile-placeholder.jpg" style="float:left">

                            <h3> {{patientInfo.nhsnumber}}</h3>
                            <h3> {{patientInfo.firstname}}</h3>
                            <h3> {{patientInfo.lastname}}</h3>
                            <h3> {{patientInfo.age}}</h3>

                            <!-- Result shown section -->
                            <div class="row" style=" margin-top:230px;">
                                <div class="col-md-6" id="resultContent"
                                     style=" color: red; font-size:20pt;">
                                </div>
                            </div>

                            <div class="col-md-6" style="margin-top:10px">
                                <div class="container" id="comparativeRisk" style=" width:500px;">
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6" style="margin-left:-300px">
                            <h2>{{patientInfo.firstname}}'s Medical Information</h2>

                            <!-- AGE-->
                            <div class="input-group">
                                <span class="input-group-addon" id="patientAgeArea">Age</span>
                                <input id="patientAge" type="number" maxlength="2" class="form-control"
                                       readonly="readonly" aria-describedby="patientAge"
                                       value={{patientInfo.age}}>
                            </div>

                            <!-- Diabetic -->
                            <h2 class="customText">Diabetic: </h2>  <input id="patientDiabetic" type="text"
                                                                           class="form-control"
                                                                           readonly="readonly"
                                                                           value={{patientInfo.diabetic}}>
                            <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="diabeticCheckBox" id="patientDiabeticYes"> Yes
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="diabeticCheckBox" id="patientDiabeticNo"> No
                                </label>
                            </div>

                            <!-- Smoker -->
                            <h2 class="customText">Smoker: </h2>  <input id="patientSmoker" type="text"
                                                                         class="form-control"
                                                                         readonly="readonly"
                                                                         value={{patientInfo.smoker}}>
                            <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="smokerCheckBox" id="patientSmokerYes"> Yes
                                </label>
                                <label class="checkbox-inline">
                                    <input type="radio" name="smokerCheckBox" id="patientSmokerNo"> No
                                </label>
                            </div>


                            <!-- LDL_C and Cholesterol-->
                            <div>
                                <h2 class="customText">Select either Cholesterol or LDL_C from the dropdown
                                    below</h2>
                                <select id="clinicianCholesterolChoice" onchange="getChoice(value)">
                                    <!-- getChoice(value) not implemented yet-->
                                    <option value="LDL_C">LDL-C</option>
                                    <option value="Cholesterol">Cholesterol</option>
                                </select>

                                <input id="patientCholesterol" type="number" class="form-control"
                                       readonly="readonly"
                                       value={{patientInfo.cholesterol}}>

                                <select id="patientMeasurement" onchange="getMeasurement(value)">
                                    <!-- getMeasurement(value) not implemented yet-->
                                    <option value="mg/dl">mg/dL</option>
                                    <option value="mmol/L">mmol/L</option>
                                </select>
                            </div>


                            <!-- HDL_C-->
                            <div>
                                <h2 class="customText">HDL_C</h2>
                                <input id="patienthdlc" type="number" class="form-control"
                                       readonly="readonly"
                                       value={{specPatientInfo.hdlc}}>
                                <select id="clinicianHDLChoice" onchange="getChoice(value)">
                                    <!-- getChoice(value) not implemented yet-->
                                    <option value="mg/dl">mg/dL</option>
                                    <option value="mmol/L">mmol/L</option>
                                </select>
                            </div>


                            <!-- DIASTOLIC BLOOD PRESSURE-->
                            <div class="input-group">
                                            <span class="input-group-addon"
                                                  id="patientdiastolicbpArea">Diastolic BP</span>
                                <input id="patientdiastolicbp" type="number" class="form-control"
                                       readonly="readonly" aria-describedby="patientdiastolicbp"
                                       value={{patientInfo.diastolicbp}}>
                            </div>

                            <!-- SYSTOLIC BLOOD PRESSURE-->
                            <div class="input-group">
                                            <span class="input-group-addon"
                                                  id="patientsystolicbpArea">Systolic BP</span>
                                <input id="patientsystolicbp" type="number" class="form-control"
                                       readonly="readonly" aria-describedby="patientsystolicbp"
                                       value={{patientInfo.systolicbp}}>
                            </div>


                            <!-- Gender -->
                            <h2 class="customText">Gender: </h2>  <input id="patientGender" type="text"
                                                                         class="form-control"
                                                                         readonly="readonly"
                                                                         value={{patientInfo.gender}}>

                            <select id="patientSexChoice" onchange="getPatient(value)">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>


                            <!-- MEDICATION-->
                            <div class="input-group">
                                <span class="input-group-addon" id="patientMedArea">Medication</span>
                                <input id="patientMedication" type="text" class="form-control"
                                       readonly="readonly" aria-describedby="patientMedArea"
                                       value={{patientInfo.medication}}>
                            </div>

                            <h2 class = "customText">Step 1 Click on Enable Entries, input values or leave otherwise</h2>
                            <button class="btn btn-danger" ng-click="calculateRiskBasedOnEntry()">Enable Entries
                            </button>

                            <h2 class = "customText">Step 2 Lock in your results and let us do the work</h2>
                            <button id="saveEntryButton" class="btn btn-primary"
                                    ng-click="saveAllEntryPatientDashboard()"
                                    disabled>Lock
                            </button>

                            <h2 class = "customText">Step 3 Click on the button to view your results</h2>
                            <button class="btn btn-danger" ng-click="calculateRiskBasedOnRecords()">
                                Show me results!
                            </button>


                        </div>
                    </div>


                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

</div>


<!-- Appointment Info Modal -->
<div id="appointmentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Book appointment with {{clinicianDetails.firstname}} {{clinicianDetails.lastname}}</h3>

            </div>
            <div class="modal-body">
                <h2>Clinician Details</h2>
                <h3 class="customText">Name : {{clinicianDetails.firstname}}, {{clinicianDetails.lastname}}</h3>
                <h3 class="customText">Occupation : {{clinicianDetails.occupation}}</h3>
                <h3 class="customText">GP Postcode : {{clinicianDetails.address}}</h3>
                <h3 class="customText">Phonenumber : {{clinicianDetails.phonenumber}}</h3>
                <h3 class="customText">Email : {{clinicianDetails.email}}</h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>


<!-- Recommendation Info Modal -->
<div id="recommendationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Recommendations</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Previous Recommendation</th>
                        <th>Clinician</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="recommendation in patientInfo.recommendations">
                        <td>{{recommendation.recommendation}}</td>
                        <td>{{patientInfo.gp}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Footer-->

<!--Angular CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<!--<script src = "controller/loginController.js"></script> -->


<!-- Chartist-->
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<!--<script src = "js/chart.js"></script>-->
<script src="controller/patientLoaderController.js"></script>

</body>
</html>